.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    margin-bottom: 4rem;
}

/* Left */
.left{
    display: flex;
    flex-direction: column;
}

.hero{
    margin-bottom: 2rem;
}

.hero img{
    height: 100%;
    width: 100%;
}

      /* info */
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.info-title p {
    font-size: 4.2rem;
    font-weight: 800;
    width: 70%;
    /* background-color: yellow; */
}

.info-para p {
    width: 92%;
    margin-bottom: 3.2rem;
    color: hsl(236, 13%, 42%);
}

.read-more-btn{
    padding: 1rem 1.6rem;
    font-weight: 700;
    background-color: hsl(5, 85%, 63%);
    color: white;
    border-style: none;
    border-radius: .2rem;
    cursor: pointer;
    transition: ease 0.15s;
}

.read-more-btn:hover{
    background-color: hsl(240, 100%, 5%);
}

.read-more-btn:active{
    opacity: 0.8;
}



/* Right */
.right{
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 1.8rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new{
    font-size: 3.8rem;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
    cursor: pointer;
    margin-bottom: 1.2rem;
}

.topic{
    border-bottom: 0.1px solid hsl(236, 13%, 42%);;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic h1{
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: .8rem;
    transition: ease 0.15s;
}

.topic h1:hover{
    color: hsl(35, 77%, 62%);
}

.topic p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    /* color: hsl(236, 13%, 42%); */
    /* color: hsl(36, 100%, 99%); */
    color: hsl(233, 8%, 79%);
}

.no-border{
    border-style: none;
}

.no-border p{
    margin-bottom: .8rem;
}






/* Blog   */
.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0;
    margin-bottom: 4rem;
}

.one, .two, .three{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


/* Thumbnail */

.thumbnail{
    height: 12rem;
    margin-right: 1rem;
}

.thumbnail img{
    height: 100%;
}

/* Blog Content */

.blog-content{
    display: flex;
    flex-direction: column;
}

.number{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: .8rem;
    color: hsl(233, 8%, 79%);
}

.blog-title{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .8rem;
    transition: ease 0.15s;
}

.blog-title:hover{
    color: hsl(5, 85%, 63%);
}

.blog-bio{
    width: 100%;
    font-size: 1.5rem;
    color: hsl(236, 13%, 42%);
}


