.container{
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    column-gap: 20px;
}

/* Left */
.left{
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

.hero{
    background-color: red;
    height: 220px;
    margin-bottom: 30px;
}

.hero img{
    height: 100%;
    width: 100%;
}

      /* info */
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.info-title p {
    font-size: 42px;
    font-weight: 800;
    width: 240px;
    /* background-color: yellow; */
}

.info-para p {
    max-width: 300px;
    margin-bottom: 32px;
    color: hsl(236, 13%, 42%);
}

.read-more-btn{
    padding: 10px 16px;
    font-weight: 700;
    background-color: hsl(5, 85%, 63%);
    color: white;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    transition: ease 0.15s;
}

.read-more-btn:hover{
    background-color: hsl(240, 100%, 5%);
}



/* Right */
.right{
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new{
    font-size: 38px;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
    cursor: pointer;
    margin-bottom: 12px;
}

.topic{
    border-bottom: 0.1px solid hsl(236, 13%, 42%);;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic h1{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 8px;
    transition: ease 0.15s;
}

.topic h1:hover{
    color: hsl(35, 77%, 62%);
}

.topic p{
    font-size: 15px;
    margin-bottom: 20px;
    /* color: hsl(236, 13%, 42%); */
    /* color: hsl(36, 100%, 99%); */
    color: hsl(233, 8%, 79%);
}

.no-border{
    border-style: none;
}

.no-border p{
    margin-bottom: 8px;
}