header{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

/* Pages */
.pages{
    display: flex;
    flex-direction: row;
}

.pages p{
    margin-left: 20px;
    color: hsl(236, 13%, 42%);
    transition: ease 0.15s;
}

.pages p:hover{
    color: hsl(5, 85%, 63%);
}