/* Responsive */

@media(max-width:1280px){
    /* Body */
    .body{
        margin: 0 12rem;
    }
    /* Container */
    .container{
        margin-top: 2rem;
        margin-bottom: 8rem;
    }
}

@media(max-width: 1024px) {
    /* Body */
    body{
        margin: 0 10rem;
    }

    /* Blog */
    number{
        margin-bottom: .6rem;
    }

    
}

@media(max-width: 768px) {

    /* Body */
    body{
        margin: 0 20px;
    }

}

@media(max-width: 500px) {

    /* Header */
    .pages p{
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* Left */
    .left{
        margin-bottom: 2rem;
    }

    /* Info */
    .info{
        display: flex;
        flex-direction: column;
    }

    .info-title p{
        width: 90%;
        margin-bottom: 1rem;
    }

    .info-para p{
        width: 90%;
        margin-bottom: 2rem;
    }

    /* btn */
    .read-more-btn{
        margin-bottom: 4rem;
    }

    /* Blog */
    .blog{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .blog-bio{
        width: 90%;
    }
}



@media(max-width: 360px){
    html{
        font-size: 60%;
    }

    .pages p{
        margin-left: .5rem;
        font-size: 1rem;
    }
}



@media(max-width: 320px){
    html{
        font-size: 60%;
    }

    .pages p{
        margin-left: .5rem;
        font-size: 1rem;
    }

    /* Blog */
    .one, .two, .three{
        display: flex;
        align-items: center;
    }

    .blog-bio{
        width: 100%;
    }

    .info{
        display: flex;
        flex-direction: column;
    }

    .info-title p{
        width: 100%;
    }

    .info-para p{
        width: 100%;
        margin-bottom: 2rem;
    }
}